DATABASE_URL=
BETTER_AUTH_SECRET="IF9RMQDC1563L27B4KOVUGJ"
GOOGLE_CLIENT_ID= "635695697979-1vi3ju59u8i8um3rsrtcfqrodls2d5qc.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET= "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"
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
